#!/bin/bash
hostnamectl hostname {{ hostname }}
BOND_NAME="bond0"
SLAVE1="eth1"
SLAVE2="eth2"
BOND_IP="{{ ipaddress }}"
BOND_MODE="802.3ad" 
modprobe bonding
ip link set ${SLAVE1} down 2>/dev/null
ip link set ${SLAVE2} down 2>/dev/null
ip link del ${BOND_NAME} 2>/dev/null
ip link add ${BOND_NAME} type bond mode ${BOND_MODE}
ip link set ${BOND_NAME} type bond miimon 100
ip link set ${BOND_NAME} type bond lacp_rate fast
ip link set ${BOND_NAME} type bond xmit_hash_policy layer3+4
ip link set ${SLAVE1} down
ip link set ${SLAVE1} master ${BOND_NAME}
ip link set ${SLAVE2} down
ip link set ${SLAVE2} master ${BOND_NAME}
ip link set ${BOND_NAME} up
ip addr add ${BOND_IP} dev ${BOND_NAME}

{% if vlans is defined %}
{% for vlan in vlans %}
ip link add link ${BOND_NAME} name ${BOND_NAME}.{{ vlan.id }} type vlan id {{ vlan.id }}
ip link set ${BOND_NAME}.{{ vlan.id}} up
ip addr add {{ vlan.ipaddress }} dev ${BOND_NAME}.{{ vlan.id }}
{% endfor %}
ip route add 192.168.0.0/16 via {{ gateway }}
{% endif %}

{% if hostname == "radar"%}
socat_loop () {
    while true; do
    echo "This is a radar message" | \
    socat - UDP4-DATAGRAM:255.255.255.255:5000,bind={{ ipaddress.split('/')[0] }},broadcast
    sleep 1
    done
}

socat_loop &
{% endif %}